
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');


/* Fonts */
 *{ 
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0%;
    
   
    
}
/* cuerpo de la pagina */
body {
    list-style: none;
    max-width: 1200px;
    margin: auto;
    padding: 0%;
    font-size: 16px;
    
}
header{
    display:flex;
    height: 4.375em;
    max-width: 100%;

  
}
/* encabezado de la pagina */
.heady {
   
    display: flex;
    height: 5.625em;
    align-items: center;
    background:#fbfbfb;
    position: fixed;
    z-index: 100; 
    box-sizing: border-box;
    box-shadow: 0 4px 5px; 
    color: #e6e5e5;
    left: 0;
    top:0;
    width: 100%;
    margin: 0 auto;
    
    
    }

.menu-item { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 992px;
  
}
 .menu-item a { 
    display: flex;
    font-size: 1.25em;
    padding: 0 0.9375em;
    color:black;
    text-decoration: none;
    justify-content: space-between;
    text-transform: capitalize;
    padding-right: 1.875em;
    width: 12.5em; 
    font-weight: 500%;
    line-height: 3.125em;
    
   
}
/* transcion en javaScript */
.menu-item a.active{
    background: #af599e;
    transition: background-color 0.3s;
    height: 60px;
 
}

a {
    text-decoration: none;
}


#Perfil { 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    scroll-behavior: smooth;

}
#Contacto {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    scroll-behavior: smooth;

}

#Habilidades {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    scroll-behavior: smooth;

}
#Conocimientos {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    scroll-behavior: smooth;

}
.logo{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 31.25em;

}
.logo img{
    border-radius:50px;
}

 .bordes-redondeados{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 5px;
    border-radius: 11.25em;
    margin-top: 5%;
    width: 20pc;
    object-fit: cover;
  
}


h1{
    display: inline-block;
    text-align: center;
    font-size: 36px; 
    margin-top: 10%;
    margin-bottom:0.5%;
    padding: 20px;


}

 #detalle{
   
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size:1.125em;
    padding-top: 5%;
    padding-bottom: 1.25em;
    box-sizing: border-box;
   

} 

.button{
    background-color: #af599e;
    color: inherit;
    color:#fbfbfb;
    display: inline-block;
    font-size: 20px; 
    height: 100%;
    border-radius: 15pc;
    justify-content: center;
    padding: 0.625em 0.625em;
   
   
}
/* hablemos */
main{
   
    max-width: 900px;
    text-align: center;
    line-height: 1.2;
    font-size:18px;
    border-radius:10px;
   
    background-color:  hsl(312, 61%, 83%);
    padding: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    margin-top: 50px;
    
    margin-bottom: 50px;
}

h2 {
    font-size:28px;
    text-align: center;
   
}
/* section otra informacion  section id="otra-infor*/
section.otra-infor{
   
    max-height: 700px;
}

#parrafo-2 {
    text-align:justify;
    line-height: 1.2;
    font-size: 18px;
    margin: 0 auto;
    max-width:900px;


 } 
.habil {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background:#fbfbfb;
    color: #d413ae;
    border-radius: 1.125em;
    max-width:900px;
    list-style: none;
    align-content: center;
    padding: 20px, 20px;
}   

  
      


#parrafo-3{
    margin-top: 30px;
    max-width: 900px;
    height: 200px;
    text-align: justify;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 20px;

   
   

}


/* section estudios */

#estudios{
    
    box-sizing: border-box;
    background-color: hsl(312, 61%, 83%);
    max-height: 400px;
    max-width: 900px;
    border-radius: 15px;
   
}
.cono{

    list-style: none;
    font-size: 18px;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
  


/* donde se reflejan los contactos */

 section.content{
   
    text-align: center;
    list-style: none;
    padding-top: 15%;
    padding-bottom: 15%;
    box-sizing: border-box;
    
 }  

 .adicional a{
    justify-content: space-between;
    display: inline-block;
    padding: 20px;
   
 }
.adicional a:hover {
    background: #af599e;
    height: 70px;
}
  .icono {
    
    justify-content: center;
    box-sizing: border-box;
    margin: 20px;
    width: 60px;
    height: 60px;
   

   
 }
 /* footer */
 #pie {
    text-align:center;
    font-size: 20px;
    color:#fbfbfb;
    background-color:#af599e;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
   
}


.change-font {
    background:#58d3db;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;

}
.nav-toggle{
    color:#080808;
    background: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    border: none;

    display:none;
 } 




/*para  desktop */
@media (min-width: 1024px )  {
    body{

        font-size: 14px;
        width: 90%;
    }
     .foto{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        margin-top: 5px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-radius: 11.25em;
        margin-left: 10%; 
        width: 0.625em;
        object-fit: cover;
        float: left; 
    }  
    
    .menu-item {
        max-width: 980px;
    }
    /* .heady{
        max-width: 100%;
    }
         */

    h1{
        
        margin: 5px 25px 5px 70px;
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 5px;
        
    } 

    #detalle{
       
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
        line-height: 1.5;
        
    } 
    #parrafo1{
        translate:inherit;
        padding-left: 31.25rem;
        text-align: justify;   
    }



    p{
        justify-content:flex-end;
        text-align: justify;

    } 
           
}
   
 
    
/*responsi table */
 
@media (max-width: 780px) {
    body {

        background-color: chartreuse;
        top:60px;
    }

    .heady  {
        padding: 0;
        background-color: aqua;


    }
   .menu-item {
        
        max-width: 600px;
        padding: 0;
        background-color: #d413ae;
    }
      
   
  
   
    .bordes-redondeados{
    
        width: 18pc;
 
    } 
    h1{
        font-size: 20px;
    }
    main {
        font-size: 16px;
    }
    .button {
        font-size: 12px;
    }
   


} 


/*  phones, mobile */


    
 /* haciendo la pagina responsive */

@media (max-width: 576px )  {

    body{
        
        padding-top: 150px;
        background-color: rgb(241, 197, 234);
       
    }
    
    .heady  {
        padding: 0;
        background-color: rgb(236, 230, 236);


    }
   
   
    .heady .menu-item { 
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(108, 10, 121);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        overflow-y: auto;

        
    } 
    .menu-item { 
       
        margin-right: 20px;
        opacity: 0;
       
        height: calc(100% -60px);  
        left: 100%;
        transition: left 0.3s;
    
    }
    
    .bordes-redondeados{
        padding-top: 80px;
        max-width: 8pc;
        border-radius: 15pc;
        
    }
    #detalle{
       
        font-size: 12px;
        
    } 
    h1 {
        font-size: 14px;

    }
    h2 {
        font-size: 14px;
    }
    main {
        font-size: 12px;
     
        
    
    }
   
     .button{
        font-size: 10px;
    
    } 
    #parrafo-1{
        font-size: 12px;
        margin-right:20px;
        margin-left:20px; 

    }
    p{
        font-size: 12px;
        margin-right:20px;
        margin-left:20px;
     
    }
    #parrafo-3{
        font-size: 12px;
        margin-right:20px;
        margin-left:20px; 
      
    }
    #parrafo-2{
        font-size: 12px;
        margin-right:20px;
        margin-left:20px; 
       
    }

    section.content{
   
        box-sizing:content-box
    }
    .habil {
        
        font-size: 12px;
      

    } 
    .cono{

    font-size: 12px;
   }
    .nav-toggle{
    
    display:block;
    
    }

 
    .menu-item_visible {
    left: 0;
    opacity: 1;
   
    }   
   
}
  


   

      

